{% extends 'base/base.html' %}
{% load static %}


{% block content %}



	<!--  ==========  -->
	<!--  = Breadcrumbs =  -->
	<!--  ==========  -->
	<div class="darker-stripe">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li>
							<a href="{% url 'home_page' %}">صفحه اصلی</a>
						</li>
						<li><span class="icon-chevron-right"></span></li>
						<li>
							<a href="{% url 'product_list' %}">فروشگاه</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="push-up blocks-spacer">
			<div class="row">

				<!--  ==========  -->
				<!--  = Sidebar =  -->
				<!--  ==========  -->
				<aside class="span3 left-sidebar" id="tourStep1">
					<div class="sidebar-item sidebar-filters" id="sidebarFilters">

						<!--  ==========  -->
						<!--  = Sidebar Title =  -->
						<!--  ==========  -->
						<div class="underlined">
							<h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
						</div>

						<!--  ==========  -->
						<!--  = Categories =  -->
						<!--  ==========  -->
						<div class="accordion-group" id="tourStep2">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#filterOne" style="font-weight: bold; font-size: 18px; color: #333; text-decoration: none; margin-bottom: 10px; display: block; padding: 5px; border-bottom: 2px solid #007bff; transition: all 0.3s ease;">دسته
									بندی ها </a>

							</div>
							<div id="filterOne" class="accordion-body collapse in">
								<div class="accordion-inner">

									{% for category in categories %}
										<a href="{% url 'category' category.title %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">
											{{ category.title }}
										</a>
									{% endfor %}

								</div>
							</div>
						</div>
						<!-- /categories -->

						<!--  ==========  -->
						<!--  = Sort =  -->
						<!--  ==========  -->
						<div class="accordion-group" id="tourStep2">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#filterOne" style="font-weight: bold; font-size: 18px; color: #333; text-decoration: none; margin-bottom: 10px; display: block; padding: 5px; border-bottom: 2px solid #007bff; transition: all 0.3s ease;">چینش
									:</a>
							</div>
							<div id="filterOne" class="accordion-body collapse in">
								<div class="accordion-inner">


									<a href="{% url 'product_list_by_order' 'price' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس قیمت (کم به زیاد)</a>
									<a href="{% url 'product_list_by_order' '-price' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس قیمت (زیاد به کم)</a>
									<a href="{% url 'product_list_by_order' 'title' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس نام (صعودی)</a>
									<a href="{% url 'product_list_by_order' '-title' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس نام (نزولی)</a>
									<a href="{% url 'product_list_by_order' 'sold' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس محبوبیت (کم به زیاد)</a>
									<a href="{% url 'product_list_by_order' '-sold' %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">بر
										اساس محبوبیت (زیاد به کم)</a>

								</div>
							</div>
						</div>
						<!-- /sort -->

						<!--  ==========  -->
						<!--  = Color filter =  -->
						<!--  ==========  -->
						<div class="accordion-group" id="tourStep2">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#filterOne" style="font-weight: bold; font-size: 18px; color: #333; text-decoration: none; margin-bottom: 10px; display: block; padding: 5px; border-bottom: 2px solid #007bff; transition: all 0.3s ease;">رنگ
									ها
									:</a>
							</div>
							<div id="filterOne" class="accordion-body collapse in">
								<div class="accordion-inner">

									{% for color in colors %}
										<a href="{% url 'product_list_by_color' color.title %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">{{ color.title }}</a>
									{% endfor %}


								</div>
							</div>
						</div>
						<!-- /Color -->

						<!--  ==========  -->
						<!--  = Size filter =  -->
						<!--  ==========  -->
						<div class="accordion-group" id="tourStep2">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#filterOne" style="font-weight: bold; font-size: 18px; color: #333; text-decoration: none; margin-bottom: 10px; display: block; padding: 5px; border-bottom: 2px solid #007bff; transition: all 0.3s ease;">سایز
									ها
									:</a>
							</div>
							<div id="filterOne" class="accordion-body collapse in">
								<div class="accordion-inner">

									{% for size in sizes %}
										<a href="{% url 'product_list_by_size' size.title %}" style="text-decoration: none; color: #007bff; padding: 8px; margin: 5px 0; display: block; font-size: 16px; transition: all 0.3s;">{{ size.title }}</a>
									{% endfor %}


								</div>
							</div>
						</div>
						<!-- /Size -->


					</div>
				</aside> <!-- /sidebar -->

				<!--  ==========  -->
				<!--  = Main content =  -->
				<!--  ==========  -->
				<section class="span9">

					<!--  ==========  -->
					<!--  = Title =  -->
					<!--  ==========  -->
					<div class="underlined push-down-20">
						<div class="row">
							<div class="span5">
								<h3><span class="light">همه</span> محصولات</h3>
							</div>
							<div class="span4">
								<div class="form-inline sorting-by" id="tourStep4">

									{##}
									{#									<a href={% url 'product_list_by_order' 'price' %}> بر اساس قیمت (کم به#}
									{#										زیاد) </a><br>#}
									{#									<a href={% url 'product_list_by_order' '-price' %}> بر اساس قیمت (زیاد به#}
									{#										کم) </a><br>#}
									{#									<a href={% url 'product_list_by_order' 'title' %}> بر اساس نام (صعودی) </a><br>#}
									{#									<a href={% url 'product_list_by_order' '-title' %}> بر اساس نام (نزولی) </a><br>#}
									{#									<a href={% url 'product_list_by_order' 'sold' %}> بر اساس محبوبیت (کم به#}
									{#										زیاد) </a><br>#}
									{#									<a href={% url 'product_list_by_order' '-sold' %}> بر اساس محبوبیت (زیاد به کم) </a>#}


								</div>
							</div>
						</div>
					</div> <!-- /title -->

					<!--  ==========  -->
					<!--  = Products =  -->
					<!--  ==========  -->
					<div class="row popup-products">
						<div id="isotopeContainer" class="isotope-container">


							{% for product in products %}
								<!--  = Single Product =  -->
								<div class="span3 filter--blazers" data-price="1567" data-popularity="2"
									 data-size="xs|s|m|xl" data-color="pink" data-brand="adidas">
									<div class="product">

										{% if not product.exists %}
											<div class="stamp red">تمام شد</div>
										{% endif %}


										<div class="product-img">
											<div class="picture">
												<img width="540" height="374" alt="{{ product.title }}"
													 src=
														 {% if product.image %}{{ product.image.url }}{% else %}""{% endif %}/>
												<div class="img-overlay">
													<a class="btn more btn-primary"
													   href="{% url 'single_product' product.id %}">توضیحات بیشتر</a>
													<a class="btn buy btn-danger" href="{% url 'single_product' product.id %}">اضافه
														به سبد خرید</a>
												</div>
											</div>
										</div>


										<div class="main-titles no-margin">
											<h4 class="title">{{ product.price }}</h4>
											<h5 class="no-margin isotope--title">{{ product.title }}</h5>
										</div>
										<p class="center-align stars">
											<span class="icon-star stars-clr"></span>
											<span class="icon-star stars-clr"></span>
											<span class="icon-star"></span>
											<span class="icon-star"></span>
											<span class="icon-star"></span>

										</p>

									</div>
								</div>
								<!-- /single product -->
							{% endfor %}


						</div>
					</div>
					<hr/>
				</section> <!-- /main content -->
			</div>
		</div>
	</div> <!-- /container -->



{% endblock %}

